.m-scene {
    position: relative;
}
.m-scene .scene-main {
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.m-scene .scene-main--projectin {
    -webkit-animation-name: projectIn;
    animation-name: projectIn;
}
.m-scene .scene-main--projectout {
    -webkit-animation-name: projectOut;
    animation-name: projectOut;
}

.m-scene .scene-main--box1in {
    -webkit-animation-name: box1in;
    animation-name: box1in;
}
.m-scene .scene-main--box1out {
    -webkit-animation-name: box1out;
    animation-name: box1out;
}

.m-scene .scene-main--box2in {
    -webkit-animation-name: box2in;
    animation-name: box2in;
}
.m-scene .scene-main--box2out {
    -webkit-animation-name: box2out;
    animation-name: box2out;
}

.m-scene .scene-main--box3in {
    -webkit-animation-name: box3in;
    animation-name: box3in;
}
.m-scene .scene-main--box3out {
    -webkit-animation-name: box3out;
    animation-name: box3out;
}

.m-scene .scene-main--box4in {
    -webkit-animation-name: box4in;
    animation-name: box4in;
}
.m-scene .scene-main--box4out {
    -webkit-animation-name: box4out;
    animation-name: box4out;
}

.m-scene .scene-main--box5in {
    -webkit-animation-name: box5in;
    animation-name: box5in;
}
.m-scene .scene-main--box5out {
    -webkit-animation-name: box5out;
    animation-name: box5out;
}

.m-scene .scene-main--box6in {
    -webkit-animation-name: box6in;
    animation-name: box6in;
}
.m-scene .scene-main--box6out {
    -webkit-animation-name: box6out;
    animation-name: box6out;
}

.m-scene.is-exiting .scene-main {
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

@keyframes projectIn {
    0% {
        width: calc(100vw - 0px);
        height: calc(100vh - 0px);
        margin: 0 auto;
        border: 20px solid white;
        box-sizing: border-box;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
        border: 0px solid white;
        box-sizing: border-box;

    }
}
@keyframes projectOut {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
        border: 0px solid white;
        box-sizing: border-box;

    }
    100% {
        width: calc(100vw - 0px);
        height: calc(100vh - 0px);
        margin: 0 auto;
        border: 20px solid white;
        box-sizing: border-box;

    }
}

@keyframes box1in {
    0% {
        position: absolute;
        left: 50px;
        top: 105vh;
        width: 70vw;
        height: 70vh;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
}
@keyframes box1out {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
    100% {
        position: absolute;
        left: 50px;
        top: 105vh;
        width: 70vw;
        height: 70vh;
    }
}

@keyframes box2in {
    0% {
        position: absolute;
        right: 50px;
        top: 185vh;
        width: 70vw;
        height: 70vh;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
}
@keyframes box2out {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
    100% {
        position: absolute;
        right: 50px;
        top: 185vh;
        width: 70vw;
        height: 70vh;
    }
}

@keyframes box3in {
    0% {
        position: absolute;
        left: 100px;
        top: 265vh;
        width: 50vw;
        height: 60vh;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
}
@keyframes box3out {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
    100% {
        position: absolute;
        left: 100px;
        top: 265vh;
        width: 50vw;
        height: 60vh;
    }
}

@keyframes box4in {
    0% {
        position: absolute;
        right: 200px;
        top: 335vh;
        width: 50vw;
        height: 75vh;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
}
@keyframes box4out {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
    100% {
        position: absolute;
        right: 200px;
        top: 335vh;
        width: 50vw;
        height: 75vh;
    }
}

@keyframes box5in {
    0% {
        position: absolute;
        right: 200px;
        top: 420vh;
        width: 50vw;
        height: 50vh;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
}
@keyframes box5out {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
    100% {
        position: absolute;
        top: 420vh;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90vw;
        height: 50vh;
    }
}

@keyframes box6in {
    0% {
        position: absolute;
        top: 480vh;
        left: 150px;
        width: 60vw;
        height: 60vh;
    }
    100% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
}
@keyframes box6out {
    0% {
        width: 100vw;
        height: 400px;
        margin: 0 auto;
    }
    100% {
        position: absolute;
        top: 480vh;
        left: 150px;
        width: 60vw;
        height: 60vh;
    }
}